
*{
    
    padding: 0;
    box-sizing: border-box;
}

div{
    background-color: rgb(218, 218, 233);
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    border: 50px solid brown;
}


.table{
    color: blue;
}

.sub{
    background-color: red;
    color: white;
    border: none;
   padding: 10px 20px 10px 20px;
   
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    vertical-align: top;
  
}
.sub:hover{
    opacity: 0.7;
    transition:opacity 1s;
}
.sub:active{
    opacity: 0.5;
}
.join{
    background-color: white;
    color: blue;
    border-color: blue;
    border-style: solid;
    padding: 9px 16px 8px 16px;
    border-radius: 2px;
    cursor: pointer;
    vertical-align: top;
    

}
.join:hover{
    background-color: blue;
    color: white;
    transition: background-color 1s;
    color 1s;
}
.join:active{
    opacity: 0.5;
}
.tweet{
    color: white;
    background-color: blue;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    border :none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    vertical-align: top;
    

}
.tweet:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.1;

}
#title{
    color: blue;
}
/*
em multiples rem do not multiple from parent*/
h1{
    font-size: 1.5rem;
    margin: 10px;
    background-color:cadetblue;
}
p{
    font-family: Arial;
}
.title{
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    width: 250px;
    line-height: 24px;
    margin-bottom: 5px;
}
.stats{
    box-sizing :border-box;
color :rgb(96, 96, 96);
display :block;
font-family :Arial;
font-size: 14px;
font-weight :400;
margin-top: 0;
}
.auth{
=    font-size: 14px;
    margin-top: 0;

}
.con{
    width: 300px;
    font-size: 14px;
    line-height: 20px;
    color :rgb(96, 96, 96);
    margin-top:0px;

}
.ad{
    background-color :rgb(227, 65, 64);
box-sizing: border-box;
color :rgb(255, 255, 255);
display :block;
text-align: center;
padding-top: 18px;
padding-bottom: 18px;
font-size :14px;
font-weight: 400;

}
.span{
    color: white;
    
}
.span:hover{
    text-decoration: underline;
    cursor: pointer;
}